.container {
  .background {
    width: 100%;
    height: 300px;
    min-height: 200px;
    object-fit: cover;
  }
  .profileInfo {
    padding: 0px 185px;
    display: flex;
    max-height: 100px;
    justify-content: space-between;

    .infoWrapper {
      display: flex;
    }
    .avatar {
      position: relative;
      top: -80px;
      & > img {
        width: 200px;
        height: 200px;
        border: 2px solid #fafafa;
        border-radius: 50%;
      }
    }
    .nameWrapper {
      margin-left: 20px;
      margin-top: 20px;
      .title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        & > button {
          margin-left: 12px;
          border-radius: 8px;
          border: 1px solid #757575;
          background-color: #e85280;
          cursor: pointer;
          color: white;
          font-weight: 500;
          padding: 5px;
        }
      }
      .desc {
        font-weight: 400;
        font-size: 16px;
      }
    }
    .share {
      margin-top: 20px;
      display: flex;
      height: fit-content;
      align-items: center;
      .curreny {
        margin-left: 12px;
        font-weight: 600;
        font-size: 20px;
        color: #e85280;
      }
      & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid #757575;
        margin-left: 24px;
      }
    }
  }
}
