.container {
  padding: 50px 150px;
  display: flex;
  .content {
    padding: 20px;
    flex: 1.5;
    .donorBox {
      border: 1px solid rgba(34, 34, 34, 0.1);
      border-radius: 8px;
      margin: 15px;
      padding: 20px;
      .img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
      }
      p {
        word-break: break-word;
      }
      // .detail {
      //   // display: flex;
      //   // align-items: center;
      //   // justify-content: center;
      //   // height: 100px;
      // }
      .media {
        & > p {
          font-weight: 500;

        }
        & > img {
          margin-right: 12px;
        }
      }
    }
    .supported {
      margin: 10px 0 10px 10px;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
    .active {
      background-color: #e85280;
      color: white;
    }
  }
  .donate {
    flex: 1;
    margin-top: 35px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 8px;
    height: fit-content;
    .header {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 165px;
        height: 46px;
        border-radius: 8px;
        & > img {
          margin-right: 10px;
        }
      }
    }

    .footer {
      .inputname {
        width: 100%;
        height: 20px;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #e5e7eb;
      }
      .inputmess {
        padding: 15px;
        width: 100%;
        height: 80px;
        margin-top: 20px;
        border-radius: 8px;
        border: 1px solid #e5e7eb;
      }
      .eggBox {
        margin-top: 30px;
        padding: 15px;
        background-color: rgba(38, 176, 161, 0.05);
        border-radius: 4px;
        border: 1px solid rgba(38, 176, 161, 0.25);
        display: flex;
        align-items: center;
        & > img {
          height: 55px;
          object-fit: cover;
        }
        & > button {
          width: 45px;
          height: 45px;
          border: 1px solid #757575;
          border-radius: 8px;
          text-decoration: none;
          background-color: #ffffff;
          font-weight: bold;
          cursor: pointer;
          margin: 0px 7px;
          font-size: 17px;
        }
        .inputegg {
          margin-left: 10px;
          border-radius: 4px;
          width: 100px;
          height: 45px;
          font-size: 17px;
          background-color: white;
          border: 1px solid #e1e1e1;
          outline: none;
          text-align: center;
        }
      }
      .eggDetail {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        & > p {
          margin: 8px 0;
          align-self: flex-start;
          color: #757575;
          font-weight: 400;
          font-size: 14px;
        }
        & > button {
          background-color: #e85280;
          width: 100%;
          height: 60px;
          border-radius: 8px;
          border: none;
          margin-top: 20px;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;
          color: white;
        }
        & > button:disabled {
          background-color: white;
          border: 2px solid #e85280;
          color: #e85280;
        }
      }
    }
  }
}

.acticeBtn {
  background-color: rgba(232, 82, 128, 0.2) !important;
  color: #e85280 !important;
  border: unset !important;
}

// recent history

.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(38, 176, 161, 0.25);
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  .dot {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
}
