.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 185px;
  height: 72px;
  .left {
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    & > span, a {
      margin-right: 40px;
      text-decoration: none;
      color: #757575
    }
  }
  .right {
    display: flex;
    align-items: center;
    & > a {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
