.background {
  height: 280px;
  & > img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}
.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 100px;
  padding: 120px 300px;

  .infomation,
  .upload {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .uploadLabel {
      font-size: 13px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .infomation {
    width: 505px;
    .heading {
      align-self: center;
    }
  }
  .upload {
    align-items: center;
    .camera {
      width: 120px;
      height: 120px;
      border: 1px dashed #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .unsetborder {
      border: unset;
    }
  }
}
.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  & > label {
    font-size: 20px;
    font-weight: 500;
  }
  & > textarea {
    height: 70px;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  height: 50px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin-top: 20px;
  padding: 0 20px;
  .select {
    width: 50x !important;
  }
}
.createBtn {
  background-color: efefef;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  padding: 20px 0;
  cursor: pointer;
}
.activeCreate {
  background-color: #e85280;
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #efefef;
}
.errorAvatarBorder {
  border: 1px dashed #e85280 !important;
  filter: invert(57%) sepia(75%) saturate(4955%) hue-rotate(315deg) brightness(99%) contrast(83%);
}
.errorInput {
  border: 1px solid #e85280 !important;
}
.errorMessageTxt {
  font-size: 14px;
  color: #e85280
}